<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="dashboard.home">
        <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
        <span class="font-bold">Dashboard</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="people.list">
        <i class="fa fa-fw fa-group"></i>
        <span class="font-bold">People</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="companies.list">
        <i class="fa fa-fw fa-building"></i>
        <span class="font-bold">Companies</span>
        </a>
    </li>
    <li>
        <a href="" class="auto">
            <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
          </span>
            <i class="fa fa-fw fa-file-text"></i>
            <span class="font-bold">Landing Pages</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="landing-pages.overview">
                    <span class="font-bold">Overview</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="landing-pages.active">
                    <span class="font-bold">Active Pages</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="landing-pages.archived">
                    <span class="font-bold">Archived Pages</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="landing-pages.unpublished">
                    <span class="font-bold">Unpublished Pages</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk"></li>
</ul>
<!-- / list -->
